body {
 background-color:#e6e3e3;
}

div {
    background-color: #090324;
    color: white;
    }
    
    h1 {
     text-align: left;
     color: white;
     }
     
     nav {
       background-color: #090324;
    color: white;
    }
